body {
  background-color: black;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: 'Shojumaru', cursive;
}

.container-fluid {
  padding: 3% 10%;
}

.centre-content{
  text-align: center;
}

.ac-header {
  /* The image used */
  background-image: url("images/copy.jpg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height */
  height: 80vh;
}

.footer-padding{
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-icon-padding{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}

@media (min-width: 992px) {
  .c-height {
    height: 85vh;
  }
  .footer-align{
    text-align: right;
  }
  .list-align{
    padding-left: 110px;
  }
}

@media (max-width: 992px) {

  .bsize{
    padding: 5px 8px 5px;
  }
  .bspace{
    bottom: 10px;
  }
  .centre-content{
    text-align: center;
  }
  .c-height {
    margin-top: 45px;
  }
  .caption {
    font-size: 25px;
  }
  .footer-align{
    text-align: center;
  }
  .footer-align-2{
    text-align: center;
  }
}
